---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Experience"
	pubDate={new Date("2023-05-22")}
	updatedDate={new Date("2023-05-22")}
	heroImage="/sami_badawi_2023_small.jpg"
>
	<h2>Language afficionado</h2>
	<ul>
		<li>Scala</li>
		<li>Python</li>
		<li>Java</li>
		<li>C++</li>
		<li>Bash</li>
		<li>TypeScript</li>
		<li>JavaScript</li>
		<li>Mathematica</li>
		<li>Perl</li>
		<li>Haskell</li>
		<li>Slang</li>
	</ul>
	<h2>Industries</h2>
	<ul>
		<li>Big data</li>
		<li>Data pipelines</li>
		<li>Finance</li>
		<li>Adtech</li>
		<li>GIS, Geographic Information Systems</li>
		<li>Computer vision</li>
		<li>NLP</li>
		<li>Pharmaceudical</li>
		<li>Insurance tech</li>
		<li>Video games</li>
	</ul>
</Layout>
